body {
    font-family: Arial, sans-serif;
    background: #F5F6F6;
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 420px;
    background: white;
    min-height: 100vh;
}

.header {
    background: #0A642C;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.profile-circle {
    width: 100px;
    height: 100px;
    background: #5A5A5A;
    border-radius: 50%;
    margin: 20px auto;
}

.form-box {
    padding: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    background: #F3F3F3;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 12px;
}

.input-group input,
.input-group select {
    border: none;
    background: none;
    width: 100%;
    margin-left: 10px;
    outline: none;
    font-size: 15px;
}

.icon {
    font-size: 18px;
}

.btn-primary {
    background: #0A642C;
    border: none;
    padding: 12px;
    width: 48%;
    color: white;
    font-size: 16px;
    border-radius: 12px;
}

.btn-secondary {
    background: #D6D6D6;
    border: none;
    padding: 12px;
    width: 48%;
    font-size: 16px;
    border-radius: 12px;
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.history-title {
    padding: 15px 20px;
    margin-top: 10px;
    font-size: 18px;
}

.history-list {
    padding: 20px;
}