/* ================= HERO ================= */
.hero.small {
  padding: 60px 10%;
}

.hero.small img {
  width: 330px;
}

/* ================= FEATURES ================= */
.features {
  width: 85%;
  margin: 70px auto 10px;
  text-align: center;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;

  max-width: 900px;
  margin: 25px auto;      /* ini memusatkan grid */
  
  justify-items: center;  /* memastikan isi kotak juga center */
}

.feature-card {
  background: white;
  width: 100%;
  max-width: 330px;  
  min-height: 200px;      
  padding: 30px;

  border-radius: 18px;
  text-align: center;
  transition: 0.25s;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-card:hover {
  transform: translateY(-6px);
  background: #e8fff3;
}

.feature-card img {
  width: 70px;
  margin-bottom: 12px;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 900px) {
  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero.small img {
    width: 260px;
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .grid-4 {
    grid-template-columns: 1fr;
  }
}
