/* CARD LOGIN KHUSUS */
.login-card {
    width: 80%;
    max-width: 450px;
    margin: 40px auto;
    padding: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-form label {
    font-weight: 600;
    color: #004b3a;
}

.login-form input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #cceee5;
    background: #f6fffc;
    font-size: 15px;
}

.btn-login-submit {
    background: #009879;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
    transition: 0.2s;
}

.btn-login-submit:hover {
    background: #00745d;
}

.register-link {
    text-align: center;
    font-size: 14px;
    margin-top: 8px;
}

.register-link a {
    color: #009879;
    text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 700px) {

    .login-card {
        width: 92%;
        padding: 25px;
        margin-top: 20px;
    }

    .login-form input {
        padding: 14px;
        font-size: 16px;
    }

    .btn-login-submit {
        padding: 14px;
        font-size: 17px;
    }
}
