/* REGISTER CARD */
.register-card {
    width: 80%;
    max-width: 450px;
    margin: 40px auto;
    padding: 30px;
}

/* FORM */
.register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group {
    background: #f6fffc;
    border: 1px solid #cceee5;
    display: flex;
    padding: 12px;
    border-radius: 12px;
    gap: 10px;
    align-items: center;
}

.input-group input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 15px;
    background: transparent;
}

/* BUTTON */
.btn-register-submit {
    background: #009879;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s;
}

.btn-register-submit:hover {
    background: #00745d;
}

/* LINK */
.login-link {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.login-link a {
    color: #009879;
    text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 700px) {
    .register-card {
        width: 92%;
        padding: 25px;
        margin-top: 20px;
    }

    .btn-register-submit {
        padding: 14px;
        font-size: 17px;
    }
}
